// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overridden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

// Theme variables
@import 'variables';

// Fonts
@import 'fonts';

// Styles

/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Inter",  sans-serif;
  --nav-font: "Raleway",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #2c4964; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #1977cc; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #2c4964;  /* The default color of the main navmenu links */
  --nav-hover-color: #1977cc; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #2c4964; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #1977cc; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f1f7fc;
  --surface-color: #ffffff;
}

.grey-background {
  --background-color: #c3c3c3;
  --surface-color: #060606;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  transition: all 0.5s;
  z-index: 500;
  background-color: var(--background-color);
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);

  .topbar {
    background-color: var(--accent-color);
    height: 40px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;

    .contact-info i {
      font-style: normal;
      color: var(--contrast-color);

      a,
      span {
        padding-left: 5px;
        color: var(--contrast-color);

        @include media-breakpoint-down(sm) {
          font-size: 13px;
        }
      }

      a {
        line-height: 0;
        transition: 0.3s;

        &:hover {
          color: var(--contrast-color);
          text-decoration: underline;
        }
      }
    }

    .social-links {
      a {
        color: color-mix(in srgb, var(--contrast-color), transparent 40%);
        line-height: 0;
        transition: 0.3s;
        margin-left: 20px;

        &:hover {
          color: var(--contrast-color);
        }
      }
    }

    .gfp-banner {
      width: auto;
      height: 30px;
    }
  }

  .branding {
    min-height: 60px;
    padding: 10px 0;
  }

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 8px;
    }

    h1 {
      font-size: 30px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }
  }

  .cta-btn,
  .cta-btn:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    transition: 0.3s;

    &:hover {
      color: var(--contrast-color);
      background: color-mix(in srgb, var(--accent-color), transparent 15%);
    }
  }

  @include media-breakpoint-down(xl) {
    .logo {
      order: 1;
    }

    .cta-btn {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 15px;
    }

    .navmenu {
      order: 3;
    }
  }
}

.scrolled {
  .header {
    .topbar {
      height: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@include media-breakpoint-up(xl) {
  #block-kind-tan-main-navigation {
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }

    li {
      position: relative;
    }

    > ul > {
      li {
        white-space: nowrap;
        padding: 15px 14px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    a,
    a:focus {
      color: var(--nav-color);
      font-size: 15px;
      padding: 0 2px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;

      i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
      }
    }

    > ul > {
      li > {
        a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -6px;
          left: 0;
          background-color: var(--nav-hover-color);
          visibility: hidden;
          width: 0px;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }

    a:hover:before,
    li:hover > a:before,
    .active:before {
      visibility: visible;
      width: 100%;
    }

    li:hover > a,
    .active,
    .active:focus {
      color: var(--nav-hover-color);
    }

    .dropdown {
      ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

        li {
          min-width: 200px;
        }

        a {
          padding: 10px 20px;
          font-size: 15px;
          text-transform: none;
          color: var(--nav-dropdown-color);

          i {
            font-size: 12px;
          }
        }

        a:hover,
        .active:hover,
        li:hover > a {
          color: var(--nav-dropdown-hover-color);
        }
      }

      &:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }

      .dropdown {
        ul {
          top: 0;
          left: -90%;
          visibility: hidden;
        }

        &:hover > ul {
          opacity: 1;
          top: 0;
          left: -100%;
          visibility: visible;
        }
      }
    }
  }
}

/* Mobile Navigation */
@include media-breakpoint-down(xl) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;

    ul {
      display: none;
      list-style: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }

    a,
    a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;

      i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);

        &:hover {
          background-color: var(--accent-color);
          color: var(--contrast-color);
        }
      }
    }

    a:hover,
    .active,
    .active:focus {
      color: var(--nav-dropdown-hover-color);
    }

    .active i,
    .active:focus i {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      transform: rotate(180deg);
    }

    .dropdown {
      ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        transition: all 0.5s ease-in-out;

        ul {
          background-color: rgba(33, 37, 41, 0.1);
        }
      }

      > .dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
      }
    }
  }

  .mobile-nav-active {
    overflow: hidden;

    .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }

    .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;

      #block-kind-tan-main-navigation > ul {
        display: block;
      }
    }
  }
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  border-top: 1px solid color-mix(in srgb, var(--accent-color), transparent 75%);
  font-size: 14px;
  position: relative;

  .footer-top {
    padding-top: 50px;
  }

  .footer-about {
    .logo {
      line-height: 1;
      margin-bottom: 25px;

      img {
        max-height: 40px;
        margin-right: 6px;
      }

      span {
        color: var(--heading-color);
        font-family: var(--heading-font);
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
      }

      p {
        font-size: 14px;
        font-family: var(--heading-font);
      }
    }
  }

  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin-right: 10px;
    transition: 0.3s;

    &:hover {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  .footer-links {
    margin-bottom: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      i {
        padding-right: 2px;
        font-size: 12px;
        line-height: 0;
      }

      li {
        padding: 10px 0;
        display: flex;
        align-items: center;

        &:first-child {
          padding-top: 0;
        }
      }

      a {
        color: color-mix(in srgb, var(--default-color), transparent 30%);
        display: inline-block;
        line-height: 1;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  .footer-contact {
    p {
      margin-bottom: 5px;
    }
  }

  .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);

    p {
      margin-bottom: 0;
    }
  }

  .credits {
    margin-top: 8px;
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 5;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;

  i {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Go Back Button
--------------------------------------------------------------*/
.go-back {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  left: 15px;
  top: 115px;
  z-index: 5;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;

  i {
    font-size: 36px;
    color: var(--contrast-color);
    line-height: 0;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }
}

@include media-breakpoint-up(lg) {
  .go-back {
    visibility: visible;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  position: relative;

  .heading {
    padding: 80px 0;
    border-top: 1px solid color-mix(in srgb, var(--accent-color), transparent 80%);

    h1 {
      font-size: 38px;
      font-weight: 700;
    }
  }

  nav {
    background-color: color-mix(in srgb, var(--accent-color), transparent 94%);
    padding: 20px 0;

    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      font-size: 16px;
      font-weight: 600;

      li + li {
        padding-left: 10px;

        &::before {
          content: "/";
          display: inline-block;
          padding-right: 10px;
          color: color-mix(in srgb, var(--default-color), transparent 70%);
        }
      }
    }
  }
}

.block-page-title-block {
  h1 {
    margin-top: 1.5rem;
  }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  padding: 60px 0;
  scroll-margin-top: 72px;
  overflow: clip;
}

@include media-breakpoint-down(xl) {
  section,
  .section {
    scroll-margin-top: 60px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 160px;
      height: 1px;
      background: color-mix(in srgb, var(--default-color), transparent 60%);
      left: 0;
      right: 0;
      bottom: 1px;
      margin: auto;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 3px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 112px);
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .container {
    z-index: 3;
  }

  .welcome {
    h2 {
      margin: 0;
      font-size: 48px;
      font-weight: 700;
    }

    p {
      font-size: 24px;
      margin: 0;
    }
  }

  .content {
    margin-top: 40px;

    .why-box {
      color: var(--contrast-color);
      background: var(--accent-color);
      padding: 30px;
      border-radius: 4px;

      h3 {
        color: var(--contrast-color);
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 30px;
      }

      .more-btn {
        color: var(--contrast-color);
        background: color-mix(in srgb, var(--contrast-color), transparent 80%);
        display: inline-block;
        padding: 6px 30px 8px 30px;
        border-radius: 50px;
        transition: all ease-in-out 0.4s;

        i {
          font-size: 14px;
        }

        &:hover {
          background: var(--surface-color);
          color: var(--accent-color);
        }
      }
    }

    .icon-box {
      text-align: center;
      border-radius: 10px;
      background: color-mix(in srgb, var(--surface-color), transparent 20%);
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      padding: 40px 30px;
      width: 100%;

      i {
        font-size: 40px;
        color: var(--accent-color);
      }

      h4 {
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0 20px 0;
      }

      p {
        font-size: 15px;
        color: color-mix(in srgb, var(--default-color), transparent 30%);
      }
    }
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  .content {
    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: flex-start;
        margin-top: 40px;
      }

      i {
        flex-shrink: 0;
        font-size: 48px;
        color: var(--accent-color);
        margin-right: 20px;
      }

      h5 {
        font-size: 18px;
        font-weight: 700;
      }

      p {
        font-size: 15px;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .pulsating-play-btn {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
  }
}

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats {
  i {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    width: 54px;
    height: 54px;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid var(--background-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .stats-item {
    background-color: var(--surface-color);
    margin-top: -27px;
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 0;

    span {
      font-size: 32px;
      display: block;
      margin: 10px 0;
      font-weight: 700;
      color: var(--heading-color);
    }

    p {
      padding: 0;
      margin: 0;
      font-family: var(--heading-font);
      font-size: 16px;
    }
  }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-item {
  background-color: var(--surface-color);
  text-align: center;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  height: 100%;

  .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: var(--accent-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
    transform-style: preserve-3d;

    i {
      color: var(--contrast-color);
      font-size: 28px;
      transition: ease-in-out 0.3s;
    }

    &::before {
      position: absolute;
      content: "";
      left: -8px;
      top: -8px;
      height: 100%;
      width: 100%;
      background: color-mix(in srgb, var(--accent-color), transparent 80%);
      border-radius: 5px;
      transition: all 0.3s ease-out 0s;
      transform: translateZ(-1px);
    }
  }

  h3 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }

  p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  &:hover {
    background: var(--accent-color);
    border-color: var(--accent-color);

    .icon {
      background: var(--surface-color);

      i {
        color: var(--accent-color);
      }

      &::before {
        background: color-mix(in srgb, var(--background-color), transparent 70%);
      }
    }

    h3,
    p {
      color: var(--contrast-color);
    }
  }
}

/*--------------------------------------------------------------
# Departments Section
--------------------------------------------------------------*/
.departments {
  overflow: hidden;

  .nav-tabs {
    border: 0;
  }

  .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: var(--default-color);
    border-radius: 0;
    border-right: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    font-weight: 600;
    font-size: 15px;

    &:hover {
      color: var(--accent-color);
    }

    &.active {
      color: var(--accent-color);
      border-color: var(--accent-color);
      background-color: var(--background-color);
    }
  }

  .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }

  .details {
    h3 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      color: color-mix(in srgb, var(--default-color), transparent 20%);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .departments .nav-link {
    border: 0;
    padding: 15px;

    &.active {
      color: var(--accent-color);
      background: var(--accent-color);
    }
  }
}

/*--------------------------------------------------------------
# Camps Section
--------------------------------------------------------------*/
.camps {
  .camp-item {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
    height: 100%;

    .pic {
      overflow: hidden;
      width: 150px;
      border-radius: 50%;
      flex-shrink: 0;

      img {
        transition: ease-in-out 0.3s;
      }
    }

    &:hover {
      transform: translateY(-10px);
    }

    .member-info {
      padding-left: 30px;
      margin-bottom: 60px;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 20px;
    }

    span {
      display: block;
      font-size: 15px;
      padding-bottom: 10px;
      position: relative;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 1px;
        background: color-mix(in srgb, var(--default-color), transparent 85%);
        bottom: 0;
        left: 0;
      }
    }

    p {
      margin: 10px 0 0 0;
      font-size: 14px;
    }

    .details-btn {
      background: var(--accent-color);
      border: 0;
      padding: 10px 35px;
      color: var(--contrast-color);
      transition: 0.4s;
      border-radius: 50px;
      position: absolute;
      right: 30px;
      bottom: 30px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
      }
    }

    .social {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;

      a {
        background: color-mix(in srgb, var(--default-color), transparent 94%);
        transition: ease-in-out 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 36px;
        height: 36px;

        i {
          color: color-mix(in srgb, var(--default-color), transparent 20%);
          font-size: 16px;
          margin: 0 2px;
        }

        &:hover {
          background: var(--accent-color);

          i {
            color: var(--contrast-color);
          }
        }

        + a {
          margin-left: 8px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .camps {
    .camp-item {
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;

      .member-info {
        padding: 30px 0 0 0;
        text-align: center;
      }

      span::after {
        left: calc(50% - 25px);
      }

      .social {
        justify-content: center;
      }
    }
  }
}

/*--------------------------------------------------------------
# Camp Info Section
--------------------------------------------------------------*/
.camp-info {
  .more-btn {
    background: var(--accent-color);
    border: 0;
    padding: 10px 35px;
    color: var(--contrast-color);
    transition: 0.4s;
    border-radius: 50px;

    &:hover {
      background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
    }
  }
}

/*--------------------------------------------------------------
# Camp Shift Section
--------------------------------------------------------------*/
.camp-shift {
  .camp-shift-container {
    .camp-shift-item {
      background-color: #f1f7fc;
      position: relative;
      padding: 20px;
      margin-bottom: 15px;
      border: 1px solid #cbddf1;
      border-radius: 5px;
      overflow: hidden;

      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin: 0 30px 0 0;
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        align-items: center;

        .num {
          color: var(--accent-color);
          padding-right: 5px;
        }

        &:hover {
          color: var(--accent-color);
        }
      }

      .camp-shift-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;

        .camp-shift-body {
          margin-bottom: 0;
          overflow: hidden;
        }
      }

      .camp-shift-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 16px;
        line-height: 0;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          color: var(--accent-color);
        }
      }

      &.unavailable {
        background-color: #c3c3c3;
        border: 1px solid #b0b0b0;
      }

      &.expanded {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--contrast-color);

        h3 {
          color: var(--contrast-color);

          &:hover {
            color: var(--heading-color);
          }
        }

        .camp-shift-content {
          grid-template-rows: 1fr;
          visibility: visible;
          opacity: 1;
          padding-top: 10px;

          .camp-shift-body {
            a {
              color: var(--contrast-color);
              text-decoration: underline;

              &:hover {
                color: var(--contrast-color);
                text-decoration: underline;
              }
            }

            .camp-shift-btn {
              color: var(--contrast-color);
              background: var(--accent-color);
              font-size: 14px;
              padding: 8px 25px;
              border: 3px solid var(--contrast-color);
              border-radius: 50px;
              transition: 0.3s;
              text-decoration: none;

              &:hover {
                color: var(--accent-color);
                background: var(--contrast-color);
                text-decoration: none;
              }
            }
          }
        }

        .camp-shift-toggle {
          transform: rotate(90deg);
          color: var(--contrast-color);

          &:hover {
            color: var(--heading-color);
          }
        }

        &.unavailable {
          background-color: #707b89;
          border-color: #707b89;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Filter Form
--------------------------------------------------------------*/

.view-filters {
  form {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
    padding: 0 30px;
    margin-bottom: 15px;

    input[type=text],
    input[type=email],
    textarea,
    select {
      color: var(--default-color);
      background-color: transparent;
      border-color: color-mix(in srgb, var(--default-color), transparent 80%);
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px;

      &:focus {
        border-color: var(--accent-color);
      }

      &::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 50%);
      }
    }

    input[type=text],
    input[type=email],
    select {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    input[type=submit] {
      background: var(--accent-color);
      border: 0;
      padding: 10px 35px;
      color: var(--contrast-color);
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
      }
    }

    .ts-wrapper {
      color: var(--default-color);
      background-color: transparent;
      border-color: color-mix(in srgb, var(--default-color), transparent 80%);
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px;

      &.focus {
        border-color: var(--accent-color);

        .ts-control {
          box-shadow: none;
        }
      }

      .ts-control {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .form-required::after {
      display: none;
    }
  }
}

/*--------------------------------------------------------------
# Voucher Request Form
--------------------------------------------------------------*/

.webform-submission-voucher-request-form-form {
  input[type=text],
  input[type=email],
  textarea,
  select {
    color: var(--default-color);
    background-color: transparent;
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px;

    &:focus {
      border-color: var(--accent-color);
    }

    &::placeholder {
      color: color-mix(in srgb, var(--default-color), transparent 50%);
    }
  }

  input[type=text],
  input[type=email],
  select {
    height: 44px;
  }

  textarea {
    padding: 10px 12px;
  }

  input[type=submit] {
    background: var(--accent-color);
    border: 0;
    padding: 10px 35px;
    color: var(--contrast-color);
    transition: 0.4s;
    border-radius: 50px;

    &:hover {
      background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
    }
  }

  .ts-wrapper {
    color: var(--default-color);
    background-color: transparent;
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px;

    &.focus {
      border-color: var(--accent-color);

      .ts-control {
        box-shadow: none;
      }
    }

    .ts-control {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .form-required::after {
    display: none;
  }
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  .info h3 {
    font-weight: 700;
    font-size: 32px;
  }

  .swiper {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--surface-color);
  }

  .testimonials-carousel,
  .testimonials-slider {
    overflow: hidden;
  }

  .testimonial-item {
    box-sizing: content-box;
    min-height: 200px;
    position: relative;
    margin: 30px;

    .testimonial-img {
      width: 90px;
      height: 90px;
      border-radius: 50px;
      border: 6px solid var(--background-color);
      margin-right: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    h4 {
      color: color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 14px;
      margin: 0;
    }

    .stars {
      margin: 10px 0;

      i {
        color: #ffc107;
        margin: 0 1px;
      }
    }

    .quote-icon-left,
    .quote-icon-right {
      color: color-mix(in srgb, var(--accent-color), transparent 60%);
      font-size: 26px;
      line-height: 0;
    }

    .quote-icon-left {
      display: inline-block;
      left: -5px;
      position: relative;
    }

    .quote-icon-right {
      display: inline-block;
      right: -5px;
      position: relative;
      top: 10px;
      transform: scale(-1, -1);
    }

    p {
      font-style: italic;
      margin: 15px auto 15px auto;
    }
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: color-mix(in srgb, var(--default-color), transparent 85%);
      opacity: 1;
      border: none;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--accent-color);
    }
  }
}

@include media-breakpoint-down(md) {
  .testimonials {
    .testimonials-carousel, .testimonials-slider {
      overflow: hidden;
    }

    .testimonial-item {
      margin: 15px;
    }
  }
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid var(--background-color);
  border-bottom: 3px solid var(--background-color);

  img {
    transition: all ease-in-out 0.4s;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  .info-item {
    + .info-item {
      margin-top: 40px;
    }

    i {
      color: var(--contrast-color);
      background: var(--accent-color);
      font-size: 20px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      margin-right: 15px;
    }

    h3 {
      padding: 0;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}

/*--------------------------------------------------------------
# Events Map Section
--------------------------------------------------------------*/
.events-map {
  #svg-map {
    width: 100%;
    height: auto;

    path {
      stroke: var(--heading-color);
      stroke-width: 0.5;
      fill: var(--background-color);
      transition-duration: 200ms;
      cursor: pointer;

      &.bg-0 {
        fill: var(--background-color);
      }

      &.bg-1 {
        fill: $gray-200;
      }

      &.bg-2 {
        fill: $gray-300;
      }

      &.bg-3 {
        fill: $gray-400;
      }

      &.bg-4 {
        fill: $gray-500;
      }

      &.bg-5 {
        fill: $gray-600;
      }

      &.active {
        fill: var(--accent-color);
      }
    }

    text {
      fill: var(--heading-color);
      cursor: pointer;
      font-family: var(--default-font);

      &.active {
        fill: var(--contrast-color);
      }
    }
  }

  .container-events-map {
    padding-right: 0;
    padding-left: 0;
  }
}

@include media-breakpoint-up(lg) {
  .events-map {
    .container-events-map {
      padding-right: 6rem;
      padding-left: 6rem;
    }
  }
}

/*--------------------------------------------------------------
# Events List Section
--------------------------------------------------------------*/
.events-list {
  display: none;
}

/*--------------------------------------------------------------
# Blind Panel
--------------------------------------------------------------*/

#to-blind-version {
  background-color: transparent;
  margin: 0 1rem 0 0;
  color: var(--contrast-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  span {
    font-style: normal;
  }
}

.blind-panel {
  display: none;
}
